{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div>
			<div>
				<a href="https://www.linkedin.com/in/mikejolliffe/" target="_blank">
					<h1>Mike Jolliffe</h1>
				</a>
				<p>Developer</p>
			</div>
		</div>
	</main>

	<div class="AboutMe">
		<aside>
			<h2>From bread to the web, I love making things. I'm a curious mind, a data lover. Here's a sampling of some
					   of my projects.
			</h2>
		</aside>
	</div>
	<div class="ProjectsContainer">
		<div>
			<a href="https://medium.com/@michael.a.jolliffe/bee-flower-relationships-part-one-get-the-data-9624f6165070"
				        target="_blank">
                <div class="Project1">
					<p class="P1text">Analyzing Bee-Flower Relationships</p>
					<p class="Small">Web scraping, data wrangling, SQL,
									 and exploring bee-flower interactions
					</p>
					<span></span>
                </div>
            </a>
		</div>

		<div>
			<a href="https://github.com/mike-jolliffe/Rick_Roll" target="_blank">
                <div class="Project2">
                    <p class="P2text">Rick-Rolling your Friends</p>
                    <p class="Small">Building and deploying a web app that calls friends and
                                         plays "Never Gonna Give you Up" by Rick Astley</p>
                </div>
            </a>
		</div>

		<div>
			<a href="https://github.com/mike-jolliffe/Projects/tree/master/Job_Skills" target="_blank">
                <div class="Project3">
                    <p class="P3text">Analyzing Sought-After Skills</p>
                    <p class="Small">Scraping and visualizing Python developer job postings</p>
                </div>
            </a>
		</div>

		<div>
            <a href="https://github.com/mike-jolliffe/Learning/tree/master/PDX_Code_Guild/javascript_labs/weather_report_redux" target="_blank">
                <div class="Project4">
                    <p class="P4text">Weather App</p>
                    <p class="Small">A small web app that gives current weather conditions for your location</p>
                </div>
            </a>
		</div>

		<div>
            <a href="https://github.com/mike-jolliffe/QuakeMap" target="_blank">
			<div class="Project5">
			    <p class="P5text">Earthquake Mapper</p>
                <p class="Small">A real-time web map that gets and displays earthquakes within the past week</p>
			</div>
            </a>
		</div>
	</div>
{% endblock %}